body{
    background-color: #f9c8d2; 
    display: flex;
}
.kanban{
    display: flex;
    padding: 10px;
    width: 850px;
    background-color: #A80F2E;
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 20px;
    flex-wrap: wrap;
}
@media(max-width: 700px){
    .kanban{
        margin-left: 50px;
        width: 300px;
    }
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
.colunas{
    flex: 1;
    flex-wrap: wrap;

}
.colunas:not(:last-child){
    margin-right: 30px;
}
.titulo_colunas{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 30px;
    color:antiquewhite;
    user-select: none;
}
.item_input{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: antiquewhite;
    border-radius: 5px;
    height: 130px;
    cursor: pointer;
}
.dropzone{
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.dropzone--active{
    height: 20px;
    background:rgba(0,0,0,0.25);
}

.add_item{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:antiquewhite;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
h6{
    font-size: 10px;
    font-style: oblique;
}
.topico{
    padding: 1px 2px;
    width: 100%;
}

.lixeira{
    margin-left: 150px;
    padding: 3px 4px;

}
input{
    border: none;
    background-color:antiquewhite ;
}
.projeto_item{
    padding: 10px 3px;
}
.responsavel{
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
}

#painel{
    background-color: #A80F2E;
    color: antiquewhite;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    margin-left: 2px;
}
#titulo_painel{
    text-align: center;
    font-size: 14px;
}

#saveItem{
    margin-left: 7px;
    margin-top: 10px;
    background-color: #59d561;
    align-items: center;
}

#deleteItem{
    background-color: #bd1010;
}

.icone{
    margin-top: 5px;
}

#popup, #popup_delete{
    background-color: #59d561;
    color: rgb(4, 59, 4);
    width: 300px;
    height: 50px;
    text-align: center;
    align-items: center;
    margin-top: 200px;
    margin-left: -100px;
    display: none;
   
}

p{
    margin-top: 10px;
    flex-wrap: wrap;
}

#popup_delete{
    background-color: #ce6464;
    color: rgb(151, 9, 9);
    width: 300px;
    height: 60px;
    align-items: center;
}

.is-dragging{
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
}
